@charset "UTF-8";

.agenda{
    width: 80%;
    height: 500px;
    margin: auto;
    border-collapse: collapse;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}

.agenda td {
    width:50px;
    text-align: center;
    border: 1px solid darkgrey;
}

.agenda .date{cursor: pointer;}
.agenda .date:hover{
    font-weight: bold;
    color: #000;
    background-color: #b2b2b2;
    transition: .3s;
}

.agenda tr:first-child {text-align: center;}
.agenda tr:nth-child(2) td {font-weight: bold;}

.agenda .dateNow {
    font-weight: bold;
    color: #3c3c3c;
    background-color: #d1d1d1;
}
.agenda .beforeDay {}
.agenda .afterDay {}
.agenda .otherMonth {background-color: #f3f3f3;}

.agenda tr:first-child td{cursor: pointer;}



.agenda .select > li {
    line-height: 60px;
}
.agenda .select > ul > li {
    line-height: 40px;
}

.agenda .select, .agenda .select ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.agenda tr:first-child td:nth-child(2),
.agenda tr:first-child td:nth-child(4),
.agenda .select > li {
    padding: 0;
    height: 60px;
}

.agenda .select > ul > li {
    padding: 0;
    height: 39.5px;
}

.agenda .select > ul {
    display: none;
    position: absolute;
    margin-top: -60px;
}
.agenda tr:first-child td:nth-child(2) .select > ul {
    width: 20%;
}
.agenda tr:first-child td:nth-child(4) .select > ul {
    overflow-y: auto;
    overflow-x: hidden;
    height: 497px;
    width: 23%;
    border: 1px solid darkgrey !important;
}

.agenda .select > ul > li {
    border: 1px solid darkgrey !important;
    background-color: #fff;
    width: 113.7%;
}
.agenda tr:first-child td:nth-child(4) .select > ul > li {
    border-top: 1px solid darkgrey !important;
    border-bottom: 1px solid darkgrey !important;
    border-left: none!important;
    border-right: none!important;
    width: auto !important;
}

.agenda .select li.active {
    font-weight: bold !important;
    background-color: #d1d1d1 !important;
    color: #3c3c3c !important;
}
.agenda .select li:hover {
    font-weight: bold !important;
    color: #000 !important;
    background-color: #b2b2b2 !important;
    transition: .3s !important;
}